In [ ]:
!pip install -q finance-datareader

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (14,8)
plt.rcParams['font.size'] = 16
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True
plt.rcParams['axes.axisbelow'] = True

In [ ]:
# S&P500 종목 리스트
import FinanceDataReader as fdr

sp500 = fdr.StockListing('S&P500')
sp500.head(10)

  Symbol  ...                                      Industry
0    MMM  ...                      Industrial Conglomerates
1    ABT  ...                         Health Care Equipment
2   ABBV  ...                               Pharmaceuticals
3   ABMD  ...                         Health Care Equipment
4    ACN  ...                IT Consulting & Other Services
5   ATVI  ...                Interactive Home Entertainment
6   ADBE  ...                          Application Software
7    AMD  ...                                Semiconductors
8    AAP  ...                             Automotive Retail
9    AES  ...  Independent Power Producers & Energy Traders

[10 rows x 4 columns]

In [ ]:
# S&P500 종목은 실제 505개
len(sp500)

505

In [ ]:
# 가격 데이터 가져오기 예시
import FinanceDataReader as fdr

aapl = fdr.DataReader('AAPL', '1970-01-01', '2021-01-30')
aapl.head(10)

            Close  Open  High   Low       Volume  Change
Date
1980-12-12   0.13  0.13  0.13  0.13  469030000.0 -0.9988
1980-12-15   0.12  0.12  0.12  0.12  175880000.0 -0.0769
1980-12-16   0.11  0.11  0.11  0.11  105730000.0 -0.0833
1980-12-17   0.12  0.12  0.12  0.12   86440000.0  0.0909
1980-12-18   0.12  0.12  0.12  0.12   73450000.0  0.0000
1980-12-19   0.13  0.13  0.13  0.13   48630000.0  0.0833
1980-12-22   0.13  0.13  0.13  0.13   37360000.0  0.0000
1980-12-23   0.14  0.14  0.14  0.14   46950000.0  0.0769
1980-12-24   0.15  0.15  0.15  0.15   48000000.0  0.0714
1980-12-26   0.16  0.16  0.16  0.16   55570000.0  0.0667

In [ ]:
aapl.tail(10)

             Close    Open    High     Low       Volume  Change
Date
2021-01-15  127.14  128.78  130.22  127.00  111600000.0 -0.0137
2021-01-19  127.83  127.80  128.67  126.95   90760000.0  0.0054
2021-01-20  132.03  128.66  132.49  128.55  104320000.0  0.0329
2021-01-21  136.87  133.80  139.67  133.59  120530000.0  0.0367
2021-01-22  139.07  136.28  139.85  135.02  114460000.0  0.0161
2021-01-25  142.92  143.20  145.03  136.72  157610000.0  0.0277
2021-01-26  143.16  143.67  144.26  141.43   98390000.0  0.0017
2021-01-27  142.06  143.41  144.27  140.48  140840000.0 -0.0077
2021-01-28  137.09  139.65  141.98  136.82  142620000.0 -0.0350
2021-01-29  135.10  135.87  136.69  135.10   10410000.0 -0.0145

In [ ]:
df = fdr.DataReader('005930')
df

             Open   High    Low  Close    Volume    Change
Date
1997-02-18    996   1028    987   1012    164930       NaN
1997-02-19   1013   1024   1004   1023    104330  0.010870
1997-02-20   1013   1031    999   1007     88710 -0.015640
1997-02-21    996   1004    933    943    143230 -0.063555
1997-02-22    933    969    916    966    124900  0.024390
...           ...    ...    ...    ...       ...       ...
2021-01-25  87000  89900  86300  89400  27258534  0.029954
2021-01-26  88800  89200  86500  86700  33178936 -0.030201
2021-01-27  86600  87700  85600  85600  26423070 -0.012687
2021-01-28  83200  85600  83200  83700  31859808 -0.022196
2021-01-29  84500  85000  82000  82000  36700640 -0.020311

[6000 rows x 6 columns]